    .box {
    position: absolute;
    top: 11%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .box select {
    background-color: #332f2f;
    color: white;
    padding: 12px;
    width: 500px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
  
  .box::before {
    content: "\f13a";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  
  .box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .box select option {
    padding: 30px;
  }


.box {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin-top: 2%;
    
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {     
  .boxRes {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  
  .box {
    
  position: relative;
  margin-top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.box::before {
display: none;
}

}

@media all and (min-width: 768px) and (max-width: 992px) {

  .boxRes {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  
  .box {
    
  position: relative;
  margin-top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.box::before {
display: none;
}
}